*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

header{
background-color: rgb(97, 97, 97);



}

nav ul{
    text-align: center;

    
}

nav ul li {
    display: inline-block;
    padding: 20px;
    color: rgb(145, 143, 143);
    font-weight: bold;
    margin: 30px;
    
}

#ImageRow1{
  
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;

}



#image1{

    margin-left: 60px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#image2{
    margin-left: 60px;
    margin-right: 20px;
    margin-bottom: 30px; 
}

#image3{
    margin-left: 60px;
    margin-right: 20px;
    margin-bottom: 30px;
}


#leftcolumn{
    margin-left: 60px;
    float: left;
    width: 50%;
}

#rightcolumn{
    
    font-weight: bold;
    width: 50%;
    float: right;
    
   
}

#btn{
    font-size: 15px;
    color: white;
    border: solid 1px black;
    background-color: black;
    display: inline;
    padding: 10px 30px;
    font-size: 15px;
    transition: 350ms;
    cursor: pointer;
    
}

footer{
    clear : both;
    height: 150px;
    background: rgb(97, 97, 97);
}