

*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

header{
background-color: rgb(97, 97, 97);
width: 90%;



}

nav ul{
    text-align: center;

    
}

nav ul li {
    display: inline-block;
    padding: 20px;
    color: rgb(145, 143, 143);
    font-weight: bold;
    margin: 30px;
    
}

#ImageRow1{
  
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

}

#ImageRow2{
    text-align: center;
    margin-bottom: 30px;
    margin-right: 190px;
   
}



#lastImage{
    float: left;
    margin-left: 180px;
    margin-bottom: 40px;
}

#rightcolumn{
    
    font-weight: bold;
    width: 30%;
   float: right;
   height: 400px;
   margin-right: 300px;  

}

#btn{
    font-size: 15px;
    color: white;
    border: solid 1px black;
    background-color: black;
    display: inline;
    padding: 10px 30px;
    font-size: 15px;
    transition: 350ms;
    cursor: pointer;
    margin-top: 45px;
    
}

footer{
    margin-top: 40px;
    clear : both;
    height: 150px;
    background: rgb(97, 97, 97);
}